VITE_DEV_BACKEND_ROOT_URL=************************************
DEV_BACKEND_ROOT_URL=*****************************************
VITE_EMAILJS_SERVICE_ID=**************************************
VITE_EMAILJS_TEMPLATE_ID=*************************************
VITE_EMAILJS_PUBLIC_KEY=**************************************